<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>修改资料</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
     <!--<script src="/javascripts/nav.js" type="text/javascript" charset="utf-8"></script>-->
</head>
<body>
	<%- include('head.ejs') %>
	<p class='welcome_login'>尊敬的&nbsp;&nbsp;<span><%- username %></span>&nbsp;&nbsp;老师,你好</p>
	<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ><a href="/home?status=1">学生成绩汇入</a></li>
  <li role="presentation" class="active" id='message'><a href='#'>个人信息</a></li>
  <li role="presentation"><a href="/home/liuyan">老师留言</a></li>
</ul>
<ul id='ul_changemess'>
	<li><span>姓名：</span><input type="text" class ="name" value="<%- name %>"/></li>
	<li><span>年龄：</span><input type="text" class ="age"  value="<%- age %>"/></li>
	<li><span>科室：</span><input type="text" class ="subject"  value="<%- subject %>"/></li>
	<li><span>年级：</span><input type="text" class ="grade"  value="<%- grade %>"/></li>
</ul>
<button type="button" class="btn btn-success  save_message " >保存资料</button>
<!--<button type="button" class="btn btn-primary  message " onclick='location.href = '/home/message/change''>修改个人资料</button>-->
<button type="button" class="btn btn-danger zhuxiao" onclick="location.href='/relogin'">注销</button>
<script type="text/javascript">
	// 修改完资料保存到数据中
	$(".save_message").click(function(){
		$.ajax({
			type:"post",
			url:"/users/change",
			data:{name:$(".name").val(),age:$(".age").val(),subject:$(".subject").val(),grade:$(".grade").val()},
			success:function(data){
				if(data=='1'){
					alert("修改资料成功！") ;
					location.href='/home/message?status=2' ;
				}
			}
		});
	})
</script>
</body>
</html>